<div class="spacing--double">
  <div class="pad--primary spacing text">
    <h2 class="font--tertiary--l theme--primary-text-color">{{ text.heading  | raw}}</h2>
    <p class="intro font--primary--m">{{ text.intro  | raw}}</p>
    {% include '@molecules/media/video-figure-with-caption.twig' with {'figure_class': 'size--large'} %}
  </div>

  <hr>
  {% for record in records %}
    <div class="pad--primary spacing--half">
        {% include '@adapter/article_mini.twig' with {'record': record} %}
    </div>
    <hr />
  {% endfor %}

  {% include '@molecules/blocks/story-block.twig' %}

</div>
