<div class="pad--primary spacing">
  {% include '@molecules/navigation/breadcrumbs.twig' %}
  <div class="text article__body spacing">
    {{ record.video.responsive }}
    {{ record.body }}
  </div>
</div>

